/*variables*/

:root {
  --font-family: "Helvetica", "Ariel", sans-serif;
  --normal-font: 400;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #0b0c10;
  --bg-color-light-accent: #1f2833;
  --text-color-gray: #c5c6c7;
  --text-color-cyan: #66fcf1;
  --text-color-shadow: #45a29e;
  --bottom-margin: 0.5rem; /*rem=root-em, dictate an element's font size relative to the size of the root element*/
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}

html {
  scroll-behavior: smooth; /*only matters when scrolling by link, makes it look nicer; doesnt affect user scrolling*/
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--text-color-gray);
}

a:hover {
  color: var(--text-color-cyan);
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-family);
}

/*styling navbar*/
nav {
  position: sticky; /*makes navbar stay at the top of the page no matter what*/
  top: 0;
  left: 0;
  z-index: 10; /*makes sure navbar displays over other elements*/
  display: flex;
  align-items: center;
  justify-content: space-between; /*defines how the browser distributes space*/
  padding: 1rem 1.5rem;
  background-color: var(--bg-color);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /*adds shadow under navbar*/
}

/* nav h1 {
  color: var(--text-color-cyan);
} */

nav a {
  color: var(--text-color-cyan);
  transition: var(--transition);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

nav a:hover {
  color: var(--text-color-shadow);
  border-bottom: 2px solid var(--text-color-shadow);
}

nav ul {
  display: flex;
  gap: 1.9rem;
}

nav ul li {
  font-weight: var(--bold-font);
}

.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 6s;
}

@keyframes fade {
  0% {opacity: .3} 
  25% {opacity: 1}
  80% {opacity: 1}
  100% {opacity: .3} 
}


.slide img {
  max-width: 100%;
  height: auto;
  align-items: center;
  /* opacity: 90%; */
  position: relative;
  /* transition: opacity 250ms ease-in, visibility 0ms ease-in 0ms; */

  /* display: flex; */
}

/* .slide iframe {
  max-width: 98.8vw;
  height: auto;
  align-items: center;
  opacity: 90%;
  position: relative;
  display: flex;
} */

.slide {
  /* top: 0;
  left: 0;
  height: auto;
  position: relative; */
  display: none;
}

.title {
  top: 0;
  left: 0;
  height: auto;
  position: relative;
  display: flex;
}

.titleblock {
  background-color: var(--bg-color);
  opacity: 90%;
  border-radius: 10px;
  position: absolute;
  height: auto;
  width: 30%;
  color: var(--text-color-cyan);
  padding: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  clear: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.titleblock h1{
  color: var(--text-color-cyan);
  /* font-size: 2vw; */
  /* margin-bottom: 30px;
  margin-top: 50px; */
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.about {
  height: auto;
  position: relative;
}

.about h1{
  color: var(--text-color-cyan);
  /* font-size: 2vw; */
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.about p {
  font-size: 120%;
  text-decoration: none;
  text-align: center;
  color: var(--text-color-gray);
  margin-left: 10%;
  margin-right: 10%;
  line-height: 150%;
  padding: 15px;
  border-radius: 10px;
  background-color:var(--bg-color-light-accent);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*projects*/

#projects {
  padding-top: 10px;
  height: auto;
  position: relative;
  padding-bottom: 20px;
}

#projects h1 {
  color: var(--text-color-cyan);
  /* font-size: 2vw; */
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.project h3 {
  text-decoration: none;
  color: var(--text-color-gray);
  margin: 0;
  padding: 20px;
  padding-bottom: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project p {
  color: var(--text-color-gray);
  margin: 4px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.project img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  transition: transform 0.3s;
}

.project-container {
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
  align-items: center;
}

.project {
  position: relative;
  background-color: var(--text-color-shadow);
  padding: 10px;
  border-radius: 20px;
  height: 40vh;
  width: 100%;
  overflow: hidden;
}

.caption {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bg-color-light-accent);
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.3s;
  pointer-events: auto;
  border-color: var(--text-color-shadow);
  border-width: 5px;
  border-style: solid;
  text-align: center;
  z-index: 1;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .caption{
  border-color: var(--text-color-cyan);
  /* color: var(--text-color-cyan); */
}

.project:hover p{
    color: var(--text-color-cyan);
}

.project:hover h3{
  color: var(--text-color-cyan);
}

@keyframes hidden {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@media (max-width: 1100px) {
  .project-container {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: auto;
    column-gap: 20px;
    row-gap: 20px;
  }
}

.prev,
.next {
  position: absolute;
  cursor: pointer;
  top: 50%;
  width: auto;
  margin-top: -50px;
  font-size: 10vh;
  color: var(--bg-color);
  font-weight: lighter;
  font-size: 65px;
  transition: 0.6s ease;
  border-radius: 3px;
  user-select: none;
}

.prev {
  left: 0px;
}

.next {
  right: 0px;
}

.dot {
  cursor: pointer;
  border-radius: 100%;
  height: 15px;
  width: 15px;
  margin: 0px 3px;
  margin-top: 10px;
  background-color: var(--bg-color-light-accent);
  display: inline-block;
  transition: background-color 0.6s ease;
  top: 50%;
  margin-bottom: 15px;
}

.prev:hover,
.next:hover {
  color: var(--text-color-shadow);
  transform: scale(1.1);
}
.active,
.dot:hover {
  background-color: var(--text-color-shadow);
  border: solid;
  border-color: var(--text-color-shadow);
  transform: scale(1.1);

}

/* .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
} */

.back-button a {
  position: absolute;
  font-weight: 550;
  margin-bottom: 40px;
  text-decoration: none;
  font-size: 20px;
  background-color: var(--secondary-color);
  color: var(--bg-color);
  border-radius: 20px;
  padding: 6px;
  padding-inline: 13px;
  left: 50%;
  transform: translate(-50%);
}

.back-button {
  margin-bottom: 100px;
}

.back-button:hover {
  opacity: 100%;
}


#contacts {
  padding-top: 10px;
  height: auto;
  /* position: relative; */
  padding-bottom: 20px;
  position: center;

}

#contacts h1 {
  color: var(--text-color-cyan);
  /* font-size: 2vw; */
  margin-bottom: 30px;
  margin-top: 50px;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
}

.icon-container {
  display: grid;
  position: center;
  grid-template-columns: auto auto auto;
  column-gap: 10px;
  margin-left: 30%;
  margin-right: 30%;
  margin-bottom: 20px;
  height: 1vh;
}
.icon {
  margin: auto;
  position: center;
}
.icon img{
  position: center;
  object-fit: fill;
  height: 4vh;
  width: auto;
  filter: invert(100%);
}

/* Project pages */

.project-pages {
  /* margin-left: 15%; */
  /* margin-right: 15%; */
  height: auto;
}


.project-pages-main {
  position: relative;
  /* background-color: var(--bg-color); */
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 40px;
}

/* .project-pages img {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  height: 75vh;
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 15px;
} */

.project-pages h1 {
  color: var(--primary-color);
  text-align: center;
  font-size: 50px;
  margin-bottom: 5px;
  margin-top: 55px;
}

.project-pages-main ul {
  display: table;
  text-align: left;
  font-weight: 530;
  /* margin-left: 20px; */
  /* margin-right: 10px; */
  margin-top: 0px;
  padding-bottom: 15px;
  font-size: 25px;
  line-height: 150%;
}

.project-pages-main a {
  color: var(--secondary-color);
}

.project-pages-main p {
  font-size: 25px;
  line-height: 150%;
  text-align: left;
  font-weight: 530;
  margin-top: 0px;
  padding-bottom: 15px;
  font-size: 25px;
  line-height: 150%;
}
/* .projects {
  background-color: var(--bg-color);
  padding: 32px 0;
  margin-top: 2rem;
}

.projects-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-title {
  text-align: center;
  margin-bottom: 1rem;
}

.project-container {
  text-align: center;
  width: 21.875rem;
  height: 16rem;
  padding: 1rem;
}

.project-container p {
  padding: 0.4rem;
}

.project-title {
  margin-top: 5rem;
  margin-bottom: var(--bottom-margin);
}

.project-summary { */
/* background-color: #fff;  */
/* border-radius: 11px; */
/* padding: 0.4rem;
  margin-bottom: var(--bottom-margin);
}

.project-card {
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 3px 10px var(--primary-shadow);
  padding: 20px;
  margin: 10px;
}

.FRC2022 {
  background-image: url("../img/robotics2022.png");
  background-position: center;
}

.FRC2023 {
  background-image: url("../img/robotics2023.png");
  background-position: bottom;
}

.BookSearcher {
  background-image: url("../img/booksearch.png");
  background-position: bottom;
}

.PlantManager {
  background-image: url("../img/plant.png");
  background-position: bottom;
} */
