.navbar {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: space-between;
    margin: 5px 20px;
    z-index: 1000;
    /* keep it on top of other content */
    background: #000;
    /* make sure it has a solid background */
    position: sticky;
    top: 0;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;
    transition: 0.5s;
}

.nav-menu li:hover {
    text-decoration: underline;
    text-decoration-color: #39A0ED;
    text-decoration-style: wavy;
    transform: scale(1.05);
}

.anchor-link {
    text-decoration: none;
    color: white;
}